[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CINID"]
	path = CINID
	url = https://github.com/cran/CINID
[submodule "DRomics"]
	path = DRomics
	url = https://github.com/aursiber/dromics
[submodule "LDcorSV"]
	path = LDcorSV
	url = https://github.com/cran/LDcorSV
[submodule "LifemapR"]
	path = LifemapR
	url = https://github.com/cran/LifemapR
[submodule "OnAge"]
	path = OnAge
	url = https://github.com/cran/OnAge
