[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CINID"]
	path = CINID
	url = https://github.com/cran/CINID
[submodule "DRomics"]
	path = DRomics
	url = https://github.com/aursiber/dromics
[submodule "Interatrix"]
	path = Interatrix
	url = https://github.com/aursiber/interatrix
[submodule "LDcorSV"]
	path = LDcorSV
	url = https://github.com/cran/LDcorSV
[submodule "LifemapR"]
	path = LifemapR
	url = https://github.com/cran/LifemapR
[submodule "MareyMap"]
	path = MareyMap
	url = https://github.com/aursiber/mareymap
[submodule "OnAge"]
	path = OnAge
	url = https://github.com/cran/OnAge
[submodule "fitdistrplus"]
	path = fitdistrplus
	url = https://github.com/aursiber/fitdistrplus
[submodule "kissDE"]
	path = kissDE
	url = https://github.com/aursiber/kissde
[submodule "nlsMicrobio"]
	path = nlsMicrobio
	url = https://github.com/aursiber/nlsmicrobio
[submodule "nlstools"]
	path = nlstools
	url = https://github.com/aursiber/nlstools
